# Chapter 2 - Introduction to Python

## 2.1 ```print()```

```print()``` is used to output things in Python<br>
Things to be outputted is placed within the brackets<br>
A new line is created for each `print()`.<br>
Try it out below:

In [ ]:
print("Hello World!")

<hr>

In [ ]:
print(10)
print(False)

<hr>

Note: Python is *case-sensitive*, i.e. `PRINT()` and `print()` are 2 different functions.<br>
Therefore, `PRINT()` results in an error.<br>
Try it out!

In [ ]:
print("It works!")

<hr>

In [ ]:
PRINT("It doesn't work...")

<hr>

Other expressions can also be printed using ```print()```.<br>
Here are some more examples:

In [ ]:
print("Hello, " + "Peter, " + "how are you?")

<hr>

In [ ]:
print(3.14 * 5 + 5 * 8)

<hr>
So far so good, but the following command causes an error, why?

In [ ]:
print("I am " + 15 + " years old.")

<hr>

What are `str` and `int`?<br>
To understand what is happening, we have to dive into **data types** and **operators**, which we will cover soon.

## 2.2 Variables


#### Assigning a variable
Variables are containers for storing data values.<br>
To assign a variable, simply type:
`variable_name` = `value`<br>
After that, the value assigned can be fetched easily using the variable name.<br>
Try it out!

In [1]:
x = "Hello"

<hr>

In [2]:
print(x)

Hello

<hr>
In Jupyter Lab, variables defined can be used across cells.<br>
You can even view their values by enabing the "Debugger" function.<br>

![img6](img6.png)

<hr>

In [ ]:
a = 5
b = 20
print(a + b)

<hr>

Assigning a new value to a existing variable overwrites the original value.<br>
For example:

In [ ]:
x = 10
x = 20
print(x)
x = 15
print(x)

<hr>

#### Naming a variable
There several rules in creating variable names: <br>
1.  Only characters `0`-`9`, `a`-`z`, `A`-`Z`, and `_` can be used
2.  The 1st character cannot be numbers
3.  Reserved words (e.g. `print`, `int`, other function names) cannot be used<br>

Note: Python is *case-sensitive*, i.e. `apple` and `Apple` are 2 different variables

## 2.3 Data types


Data stored in Python are of different data types.<br>
Here are the most common data types:
<body>
    <table>
        <tr style="text-align:left;">
            <th style="width:10%">Code</th>
            <th style="width:15%">Full Name</th>
            <th style="width:30%">Description</th>
            <th style="width:35%">Examples</th>
        </tr>
        <tr>
            <td>int</td>
            <td>Integer</td>
            <td>Integral numbers</td>
            <td>3, 5, -7</td>
        </tr>
        <tr>
            <td>float</td>
            <td>Float</td>
            <td>Floating point numbers (with decimals)</td>
            <td>3.14, -2.718, 2.0</td>
        </tr>
        <tr>
            <td>str</td>
            <td>String</td>
            <td>A series of characters</td>
            <td>"Hello World!", 'What is your name?', "123"</td>
        </tr>
        <tr>
            <td>bool</td>
            <td>Boolean</td>
            <td>True / False, stored as 1 and 0 respectively</td>
            <td>True, False</td>
        </tr>
    </table>
</body>

Everything quoted by `"` or `'` are strings.<br>
Therefore, `123` is an integer while `"123"` is a string;<br>
`Apple` is a variable while `"Apple"` is a string.<br>
However, the quotation marks are not printed when using `print()`.
<hr>

The function ```type()``` returns the type of the data.<br>
By putting it in a `print()` function, the type will be displayed.<br>
Try to run the following codes:

In [ ]:
print(type(3))

<hr>

In [ ]:
print(type(3.14))

<hr>

In [ ]:
print(type("3.14"))

<hr>

In [ ]:
print(type(True))

<hr>

To change one's data type, you can use the following functions:
* ```int()```
* ```float()```
* ```str()```
* ```bool()```
Each function converts its inputted data to that corresponding data type,<br>
e.g. `int()` to `int` (Integer), `str()` to `str` (String)<br>
Try it by yourself!

In [ ]:
print(int(6.9), type(int(6.9)))

<hr>

In [ ]:
print(float("4"), type(float("4")))

<hr>

In [ ]:
print(str(4), type(str(4)))

<hr>

In [ ]:
print(bool(0), type(bool(0)))

<hr>

Now let's review this command
```python
print("I am " + 15 + " years old.")
```
Check the data types of `"I am "`, `15`, and `" years old."` by using the function `type()`,<br>
and print the result by `print()`! What can you observe?

In [ ]:
print(type("I am "))
print(type(     )) # <<< Put 15 inside the brackets
print(type(     )) # <<< Put " years old." inside the brackets

<hr>

Just by knowing the data types of the above elements,<br>
we can't explain the error yet.<br>
Instead, let's learn about operators first!

## 2.4 Operators


There are several types of operators, for example: <br>
* Arithemetic operators
* Comparison operators
* Logical operators

#### Arithmetic operators
For numbers:
<body>
    <table style="text-align:center;">
        <tr>
            <th>Operator</th>
            <th>Name</th>
            <th>Expression</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>+</td>
            <td>Addition</td>
            <td>9 + 2</td>
            <td>11</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Subtraction</td>
            <td>9 - 2</td>
            <td>7</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Multiplication</td>
            <td>9 * 2</td>
            <td>18</td>
        </tr>
        <tr>
            <td>/</td>
            <td>Division</td>
            <td>9 / 2</td>
            <td>4.5</td>
        </tr>
    </table>
</body>
The order of operation (先乘除 後加減) is valid here.<br>
Some arithemetic operators can also be used with strings:
<body>
    <table style="text-align:center;">
        <tr>
            <th>Operator</th>
            <th>Name</th>
            <th>Expression</th>
            <th>Result</th>
            <th>Syntax</th>
        </tr>
        <tr>
            <td>+</td>
            <td><i>Concatenation</i></td>
            <td>"Hello " + "World!"</td>
            <td>"Hello World!"</td>
            <td><b>str</b> + <b>str</b></td>
        </tr>
        <tr>
            <td>*</td>
            <td>Multiplication</td>
            <td>"Hi" * 5</td>
            <td>"HiHiHiHiHi"</td>
            <td><b>str</b> * <b>int</b></td>
        </tr>
    </table>
</body>
Give it a try!

In [ ]:
print(1 * 2 + 2 * 3 + 3 * 5)
print(1 * 2 / 3 * 4 / 5 * 6)
print("Hello " * 10)

<hr>

```python
print("I am " + 15 + " years old.")
```
Back to this command.<br>
As we can only **add** integers together and **concatenate** strings together,<br>
attempting to add an integer to a string results in an error.<br><br>
To fix it, we just need to use `str()` to change `15` (Integer) into `"15"` (String), or directly use `"15"`.<br>
Try to modify the command by adding a `str()` function to fix it:

In [ ]:
print("I am " + 15 + " years old.")

#### Answer

In [5]:
print("I am " + str(15) + " years old.")

I am 15 years old.

<hr>

In [6]:
print("I am " + "15" + " years old.")

I am 15 years old.

<hr>

#### Comparison operators
Outputs of comparison operators are always boolean values (`True` / `False`)
<body>
    <table style="text-align:center;">
        <tr>
            <th>Operator</th>
            <th>Name</th>
            <th>Expression</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>==</td>
            <td>Equal to</td>
            <td>9 == 2</td>
            <td>False</td>
        </tr>
        <tr>
            <td>!=</td>
            <td>Not equal to</td>
            <td>9 != 2</td>
            <td>True</td>
        </tr>
        <tr>
            <td>></td>
            <td>Greater than</td>
            <td>9 > 2</td>
            <td>True</td>
        </tr>
        <tr>
            <td>>=</td>
            <td>Greater than or equal to</td>
            <td>9 >= 2</td>
            <td>True</td>
        </tr>
        <tr>
            <td><</td>
            <td>Smaller than</td>
            <td>9 < 2</td>
            <td>False</td>
        </tr>
        <tr>
            <td><=</td>
            <td>Smaller than or equal to</td></td>
            <td>9 <= 2</td>
            <td>False</td>
        </tr>
    </table>
</body>
String and boolean values can also be compared using comparison operators, give it a try!

In [ ]:
print("Hello" == "Hello")

<hr>

In [ ]:
print(2 != 0)

<hr>

In [ ]:
print(True >= False)

<hr>

In [ ]:
print(-9 < 3)

<hr>

#### Logical operators
Logical operators require 1 / 2 boolean values as input, and output 1 boolean value.<br>
Their respective outputs can be represented by tables (Truth tables).<br>
![img1](img1.png)<br>
Give it a try!

In [22]:
A = True
B = False
print(A and B)

False

In [23]:
A = True
B = False
print(A or B)

True

In [24]:
A = True
print(not A)

False

<hr>

Logical operators and comparison operators are commonly used in conditional statements. <br>
It will be discussed in the following section.

## 2.5 Conditional Statements (If... Else...)


Syntax of a basic If... Statement: <br>
```python
if condition:
    statement_A
```
You can use comparison operators to create the conditions:<br>
```python
A = 10
B = 20
if A <= B:
    print("A is smaller than or equal to B.")
```
Only when the given condition is `True`, statement A will be executed.<br>
Below is a flow chart for illustrating this operation.
![img3](img3.png) <br>
Note that `statement_A` is indented (with white spaces in front of it).<br>
This is because Python relies on indentation to define scope in the code.<br>
If the conditional statement contains more than one line, all of them has to be indented:<br>
```python
if condition:
    statement_A1 # Executed only when the condition is satisfied
    statement_A2 # Executed only when the condition is satisfied
    statement_A3 # Executed only when the condition is satisfied
statement_X      # Outside the If... statement, always executed
```
You can create an indentation easily by pressing `Tab`, instead of pressing `Space` for a few times.<br>
Without the indentation, an error will occur:

In [ ]:
if True:
print("It is true!") # Not indented => Error

<hr>

In [ ]:
if True:
    print("It is true!") # Indented => Good!

<hr>



If you want to execute another statement when the given condition is `False`, use an If... Else... statement:
```python
if condition:
    statement_A
else:
    statement_B
```
![img2](img2.png) <br>
If there is more than one condition, you may use the If... Else If... Else... statement.<br>
In Python, Else If is shortened as `elif`:
```python
if condition_1:
    statement_A
    
elif condition_2:
    statement_B
    
else:
    statement_C
```
![img4](img4.png)<br>
Note that the `elif` statement is only executed when the first condition is `False`.<br>
The number of conditions is not limited.<br>
You may use as many `elif condition_n:` as you like, for example:

In [ ]:
### Grade Calculator
score = int(input("Input your score: "))

if score >= 80:
    print("A")
    print("Excellent! ^w^")
    
elif score >= 70:
    print("B")
    print("Very good! :D")
    
elif score >= 60:
    print("C")
    print("Good! :)")
    
elif score >= 50:
    print("D")
    print("Fairly Good. :/")
    
elif score >= 40:
    print("E")
    print("Work harder. :(")
    
else:
    print("F")
    print("Failed! >:(")

## 2.6 For loop


A for loop is used for iterating over a sequence of things, usually numbers or characters.<br>
A variable is used store the elements of the sequence.<br>
Syntax:
```python
for variable in sequence:
    statement_A
    statement_B
    ...
```
The `range()` function creates a sequence of numbers, and is usually used with for loop.<br>
For example:

In [ ]:
for x in range(10):
    print(x)

<hr>

Note that the indexes of Python starts from **0**, not 1,<br>
Therefore, `range(10)` represents a series of numbers from **0** to **9**, excluding 10.<br>
Similar to conditional statements, for loop requires proper indentation.<br>
Compare the following programs:

In [ ]:
for x in range(5):
    print(x)
print("End")

<hr>

In [ ]:
for x in range(5):
    print(x)
    print("End")

<hr>

By combining for loop with `range()`, we can repeat a series of actions for a sepcific amount of times.<br>
Try to print `"Hi"` for 20 times using for loop:

#### Answer

In [7]:
for x in range(20):
    print("Hi")

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

## 2.7 While loop


While loop repeats a series of statements until the condition given is satisfied.<br>
```python
while condition:
    statement_A
    statement_B
    ...
```

![img5](img5.png)<br>
You can replicate a for loop by using while loop:

In [ ]:
x = 0
while x < 5:
    print(x)
    x = x + 1

While loops can also be used to validate data input:

In [ ]:
age = -1
while not(age >= 0 and age <= 150):
    age = int(input("Input your age (0 - 150): "))
print("You are " + str(age) + " year(s) old.")

## 2.8 Functions

`print()`, `input()` and `range()` are built-in functions of Python.<br>
Apart from them, we can define our own functions, just like this.
```python
def my_function():
    print('Hello')
    print('Bye')
```

In [14]:
def my_function():
    print("Hello")
    print("Bye")

To use the function, simply use:
```python
my_function()
```
All the steps in the function will be executed one by one.

In [15]:
my_function()
my_function()

Hello
Bye
Hello
Bye

#### Functions with parameters
You can define functions that requires input everytime it is called.
```python
def function_name(parameter1, parameter2, ...)
    statement_A
    statement_B
    ...
    
function_name(input1, input2, ...)
```

The parameters are used as normal variables inside the function

In [16]:
# Run me first!
def add(num1, num2):
    print(num1 + num2)

In [17]:
add(4, 5)
add("Hello ", "World!")

9
Hello World!

### Functions with return values
You can use `return` to define return values of a function.<br>
The function is quitted immediately after a value is returned.

In [18]:
# Run me first!
def returnSum(num1, num2):
    return num1 + num2
    print("I am not printed") # Function quitted as a value is returned

<hr>

You can store the return value in a variable.

In [19]:
result = returnSum(3, 6)      # Result is returned and stored
print(result)                 # Result is printed

9

<hr>

You can also print it directly.

In [20]:
print(returnSum(14, 34))      # Result is returned and printed

48

#### Global and private variables
Variables defined in the main function (not inside any user-defined functions) are **global** variables,<br>
they can be accessed anywhere in the program.<br>
On the other hand, those defined within a user-defined functions are **private** variables,<br>
they can't be accessed outside the function, or else, an error occurs:

In [21]:
def hello():
    name = "Peter"
    print("Hello " + name)

hello()
print(name)

Hello Peter

NameError: name 'name' is not defined

<hr>

However, they can be made global by adding this line in the function:
```python
global name
```
Try it out!

In [ ]:
def hello():
    global name
    name = "Peter"
    print("Hello " + name)

hello()
print(name)

<hr>

Moreover, global variables and private variables can have the same variable name while storing different values.<br>
In a function, private variables have higher priorities than global variables:

In [ ]:
def hello():
    name = "Peter"              # Private: Does not overwrite Ben
    print("Private: " + name)   # Private (Peter) > Global (Ben)
    
name = "Ben"                    # Global
hello()
print("Global: " + name)        # Ben is still here

#### Benefits of using functions
By using functions, we can break down a large task into smaller tasks.<br>
In this way, we can conquer the smaller and easier tasks one by one.<br>
Moreover, the program becomes more readable, and have a better structure.<br>
In later chapters, you will be asked to complete functions for different game actions as well.